.container {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #233d4d;
}

h1 {
    padding-left: 1rem;
}